{% extends 'layout.html' %}

{% block head %}

{% endblock %}

{% block content %}

<div class="wrapper">

	<div class="content">

	    <div class="mid">
	    	<center> 
	    		<a href="http://localhost:3000" /><img src="/public/img/logo.png" /></a>
	    
	    <form class="talentsFormSearch">
		    <input type="search" placeholder="Ej: Expresión oral..." name="search" class="fieldSearchForm" />
		    <input type="submit" value="Buscar" name="Buscar" />
	    </form>
	    </center>
	    </div>

	</div>

	<footer>
		
	    <div class="showcase">
	    	<ul>   
	    		{% for user in users %}
					<li>
						<div onclick="location.href = '/profile/{{user.id}}'"  class="view view-first">  
							 <img src="/public/img/img.gif" />
							 <h2>{{ user.name }}</h2> 
							 <div class="mask">  
								 {% for talent in user.talents %} 
								 	<p>{{ talent.name }} </p> 
								 {% endfor %}		       
							 </div> 
						</div>
					</li>
				{% endfor %}
			</ul>
	    </div>
	    
	    
	    <div class="pie">
	           <a href="#">| ¿Quiénes somos?</a>
	           <a href="#">Contáctanos</a>
	    </div>

	</footer>
</div>
{% endblock %}

