{% extends 'layout.html' %}

{% block head %}

{% endblock %}

{% block logo %}
	<div class="logo">
    	<a href="http://localhost:3000" /><img src="/public/img/blanco.png" /></a>
    </div>
{% endblock %}

{% block content %}
<div class="wrapper">

	<div class="content">
		<a class="ProfileBtns BtnVolver" href="/home">< Volver</a>
		<a class="ProfileBtns BtnComparar" href="#">Comparar</a>

		<div class="ProfileMain">
			
			<img class="profile-pic" src="/public/img/img.gif"/>

			<div class="ProfileName">{{user.name}}</div>

			<img class="mock-score" src="/public/img/score.png"/>

			<a class="ProfileBtns BtnContactar" href="#">Contactar</a>
			<a class="ProfileBtns BtnSeguir" href="#">Seguir</a>
			<div class="Habilidades-wrapper">
				<p>HABILIDADES</p>
				<ul>
					{% for talent in user.talents %}
						<li>
							<div class="hab-name"> {{talent.name}} </div>
						</li>
					{% endfor %}
				</ul>
			</div>


		<div class="mock-rest">
			<img src="/public/img/mock.png"/>
		</div>
	</div>
	<footer>
	    <div class="pie">
	           <a href="#">| ¿Quiénes somos?</a>
	           <a href="#">Contáctanos</a>
	    </div>

	</footer>
</div>

{% endblock %}