{% extends 'layout.html' %}

{% block head %}

{% endblock %}

{% block logo %}
	<div class="logo">
    	<a href="http://localhost:3000" /><img src="/public/img/blanco.png" /></a>
    </div>
{% endblock %}

{% block content %}

<div class="wrapper">

	<div class="content"> 

		<center>
		    <div class="search">
		        <h3> BÚSQUEDA </h3>   
		        <form action="" method="">
		            <input type="search" placeholder="Ej: Expresión oral..." name="buscar">
		            <input type="submit" value="Buscar" name ="send">
		        </form>
		    </div>
		</center>

		<div class="showcaseSearch">
	    	<ul>   
	    		{% for user in users %}
					<li>
							<div onclick="location.href = '/profile/{{user.id}}'"  class="view view-first">  
								 <img src="/public/img/img.gif" />
								 <h2>{{ user.name }}</h2> 
								 <div class="mask">  
									 {% for talent in user.talents %} 
									 	<p>{{ talent.name }} </p> 
									 {% endfor %}		       
								 </div> 
								 <a href="#" class="info">Read More</a> 
							</div>      
						
					</li>
				{% endfor %}
			</ul>
	    </div>

	</div>

	<footer>/
	    <div class="pie">
	           <a href="#">| ¿Quiénes somos?</a>
	           <a href="#">Contáctanos</a>
	    </div>
	</footer>

</div>
{% endblock %}